.lock-screen
  display: flex
  height: 100%
  flex-direction: column
  user-select: none
  .top-lock, .bottom-lock
    display: flex
    justify-content: center
    align-items: center
  .top-lock
    height: 45%
    display: flex
    background: #eee
    border-bottom: 1px solid #a2b0bc
  .bottom-lock
    height: 55%
    flex-direction: column
    background: #cbd6e0
