.masterpass-input
  position: relative
  input
    padding: 12px 20px
    border: 1px solid #3081c6
    min-width: 200px
    border-radius: 24px
    font-size: 15px
    outline: none
    text-align: center
    transition: border .2s ease
  .error-message
    padding: 3px 0 0
    position: absolute
    width: 100%
    text-align: center
    font-size: 12px
    color: #e74c3c
  &.error
    input
      border: 1px solid #e74c3c
